/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.margin {
  margin: 0.5em;
}

.week-calendar {
  width: 100%;
  border: 1px solid black;

  .week-pagination {
    text-align: center;
    padding: 0.5em 0;

    .current-week {
      display: inline-block;
      margin: 0.5em;
    }
  }

  .day-of-the-week {
    width: percentage(1.0 / 7);
    text-align: center;
    border: 1px solid black;
  }

  .past-day {
    background-color: lightgray;
  }

  .day-available {
    background-color: mediumseagreen;
  }

  .day-unavailable {
    background-color: tomato;
  }
}


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
