<div class="margin">
  <table class="week-calendar">
    <thead>
      <tr>
        <th colspan="7" class="week-pagination">
          <button type="button" class="btn btn-primary" id="previousWeekBtn" ng-disabled="main.isFirstPage()" ng-click="main.previousWeek()">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </button>
          <h5 class="current-week">
            {{ main.week.startsOn().toISOString() | date: 'MMM d, yyyy' }} - {{ main.week.endsOn().toISOString() | date: 'MMM d, yyyy' }}
          </h5>
          <button type="button" class="btn btn-primary" id="nextWeekBtn" ng-disabled="main.isLastPage()" ng-click="main.nextWeek()">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="day-of-the-week" ng-repeat="day in main.week.getDays() track by day.valueOf()" ng-class="{ 'past-day': main.isAPastDay(day), 'day-available': main.isAvailableOn(day) && !main.isAPastDay(day),  'day-unavailable': !main.isAvailableOn(day) && !main.isAPastDay(day)}">
          {{ day.toISOString() | date: 'EEE M/d' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
